name: Deploy Production

on:
    release:
        types: [ released ]

jobs:
    deploy:
        name: Deploy
        environment: production
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install dependencies
              uses: bahmutov/npm-install@v1

            - name: Build project
              run: npm run build
              env:
                  VITE_VERSION: ${{ github.event.release.tag_name }}
                  VITE_ENV: production
                  VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }}
                  VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}
                  VITE_CLIENT_ID: ${{ secrets.VITE_CLIENT_ID }}
                  VITE_CLIENT_SECRET: ${{ secrets.VITE_CLIENT_SECRET }}

            - name: Generate Key
              run: echo "${{ secrets.PRODUCTION_KEY }}" > key.pem

            - name: Key permissions
              run: chmod 500 key.pem

            - name: Deploy project
              run: scp -o 'StrictHostKeyChecking no' -i key.pem -r dist ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST }}:${{ secrets.PRODUCTION_PATH }}